<header class="menu-bar">
<nav class="menu-bar-links">
<div class="avatar">
<img src="/assets/user.png" alt="imagem-perfil">
</div>
<ul>
    <a href="#"><li>LEARN</li></a>
    <a href="#"><li>BLOG</li></a>
    <a href="#"><li>BOOKMARKS</li></a>
    <a href="#"><li>UI KIT</li></a>
    <a href="#"><li>LAIN NYA</li></a>
</ul>
</nav>
<div class="menu-bar-redes">
    <img src="/assets/twitter.png" alt="logo-twitter">
    <img src="/assets/insta.png" alt="logo-instagram">
    <img src="/assets/youtube.png" alt="logo-youtube">
</div>
</header>